<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitation</title>
</head>
<body>
    <p>
        Xin chào @Model.RecipientEmail!
    </p>
    <p>
        Hãy tham gia nhóm của @Model.SenderEmail
    </p>
    <p>
        Click <a href="@Model.Url">vào đây</a> để tham gia.
    </p>
</body>
</html>